*, html, body {
    margin: 0;
    padding: 0;
    box-sizing :border-box;
    font-family: Helvetica;
    scroll-behavior: smooth;
}

header {
    background-image: url('assets/foto/background-1.jpg');
    color: #eaeaea;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    margin-right: auto;
    display: flex;
}
.logo-img {
    width: 50px;
    height: 40px;
    margin-top: 8px;
    margin-left: 10px;
}
.logo-title {
    padding: 10px;
    cursor: pointer;
    transition: all .5s ease 0s;
}


.logo:hover {
    color: #E3A039;
}

.btn-cta {
    margin-right: 10px;
    border: none;
    font-size: 20px;
    padding: 6px 12px;
    border-radius:8px ;
    cursor: pointer;
}

nav ul {
    display: flex;
    padding: 20px
}

li {
    list-style-type: none;
    padding: 10px;
}

li a {
    transition: all .5s ease 0s;
}

li a:hover {
    color: #E3A039;
}

a {
    color: #eaeaea;
    text-decoration: none;
}


.container {
    background-image: url(assets/foto/marble-2.jpg);
    max-width: 2000px ;
    margin: 0 auto;
    padding: 70px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    font-weight: bolder;
}

.title-kedua {
    font-size: 30px;
    font-weight: bold;
}

.title-kedua:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*transform: rotate(15deg);*/
    transform: scale(1.5);
    color: #E3A039;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease 0s;
}
.description {
    font-size: 30px;
    font-weight: bold;
}

.description-kedua {
    font-size: 20px;
    font-weight: bold;
}
.img-foto {
    max-width: 100%;
    max-height: auto;
}

.parallax {
    background-image: url('assets/foto/marble-2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300vh;
}

.tentang {
    background-image: url('assets/foto/background-1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #eaeaea;
    padding: 10px;
    gap: 20px;
}
span {
    color: #E3A039;
}

.card {
    max-width: 1200px ;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 100px;
}

.card-item {
    text-align: center;
    width: 25%;
    background: #f7f7f7;
    color: #222;
    box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-bottom: 50px;
    transition: all .5s ease 0s;
}

.card-item:hover {
    /*transform: rotate(15deg);*/
    transform: scale(1.05);
}

.card-title {
    font-size: 18px;
    font-weight: bolder;
}
.card-description {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 20px;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 4px;
}    

.container-kedua {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;
    padding: 70px 0;
}    

.galery {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: auto;
    grid-gap: 15px;
}

.galery > div > img {
    width: 450px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    
}   

.img-foto-kedua {
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    
}


.img-foto-ketiga {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    max-height: 350px;
    margin-left: 750px;
    opacity: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

.img-foto-keempat {
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    
}
.card-item-kedua {
    font-size: 50px;
    text-align: center;
    width: 100%;
    background-image: url('assets/foto/background-1.jpg');
    color: #eaeaea;
}

.card-title-kesatu {
    font-size: 18px;
    margin-top: 50px;
    font-weight: bolder;

}
.card-description-kesatu {
    font-size: 18px;
    margin-top: 4px;
    font-size: 15px;
}

.card-description-kedua {
    font-size: 15px;

}

.card-description-ketiga {
    font-size: 15px;
    font-weight: bolder;

}
.foto-muka {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.foto-muka:hover {
    transform: scale(1.3);
    cursor: pointer ;
    transition: all .5s ease 0s;
    
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #222;
    color: #FFFFFF;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/foto/background-1.jpg');
    height: 50px;
    gap: 50px;
}

.img-content {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    gap: 500px;
}
.icon-kedua {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 4px;
    margin-bottom: 50px;
}

.icon-kedua:hover {
    transform: scale(1.2);
    transition: all .5s ease 0s;
}
.img-content:hover {
     /*transform: rotate(15deg);*/
     transform: scale(1.4);
     transition: all .5s ease 0s;
}
.follow {
    background-image: url('assets/foto/background-1.jpg');
    color: #eaeaea;
    font-weight: bolder;
    padding: 10px;
    font-weight: bolder;

}

.follow-us {
    font-size: 15px;
    margin-left: 890px;
}

.title-follow {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;
    }
    .card-item {
        width: 100%;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    .intro {
        margin-top: 20px;
    }
    .img-foto {
        padding: 0;
    }
}
